

.body-wrapper {
    /* height: 100vh; */
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
}

.main-card {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
    height: 100%;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
}

.qr-code {
    border-radius: 30px;
    background-color: white;
    
}

.content {
    background-color: white;
    padding: 2rem;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-size: 1.7rem;
}

p {
    font-size: 1.3rem;
    font-weight: 100;
}